.about {
  padding-top: 120px;
  padding-bottom: 120px;
  content: "";
  background-image: url("../../img/aboutimg.svg");
  background-repeat: no-repeat;
background-position: calc(50% + 760px) bottom;
}

.about__container {
  display: flex;
}
.about__title {
  max-width: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  margin-right: 30px;
}
.about__text{
  max-width: 730px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  &::before{
    display: block;
    content: "";
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    margin-bottom: 40px;
  }
}
@include responsive (770){
  .about__container {
    display: block;
  }
  .about__title{
max-width: inherit;
    text-align: center;
    line-height: 56px;
    margin-right: 0;
margin-bottom: 24px;
  }
  .about__text{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 457px;
    font-size: 15px;
    &::before{
      display: none;
    }
  }
  .about{
    background-position: 670px bottom;
  }
}
@include responsive (380){
  .about {
    padding-top: 80px;
    padding-bottom: 108px;
    background-position: 275px 365px;
  }
  .about__container{
    padding-left: 24px;
  }
}