.site-form{
  max-width: 542px;
  width: 100%;
}
.site-form__input{
  outline: none;
  width: 100%;
  border: none;
  margin-bottom: 24px;
  padding: 0 0 16px 14px;
  border-bottom: 1px solid white;
background-color: transparent;
color: white;
}
.site-form__textarea{
  width: 100%;
  color: white;
  outline: none;
  padding: 0 0 58px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 67px;
}
.site-form__input::-webkit-input-placeholder,
.site-form__textarea::-webkit-input-placeholder
 {
  color: #FFFFFF;
  opacity: 0.6;

}

.site-form__input::-moz-placeholder,
.site-form__textarea::-moz-placeholder
{
  color: #FFFFFF;
  opacity: 0.6;

}

.site-form__input:-ms-input-placeholder,
.site-form__textarea:-ms-input-placeholder
{
  color: #FFFFFF;
  opacity: 0.6;

}

.site-form__input:-moz-placeholder,
.site-form__textarea:-moz-placeholder
{
  color: #FFFFFF;
  opacity: 0.6;

}
.site-form__submit{
  border: none;
  padding: 7px 30px;
  background: #FFFFFF;
border: 2px solid transparent;
border-radius: 24px;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #004047;
}
@include responsive (770){
  .site-form__textarea{
    margin-bottom: 24px;
  }
}